extends layout

block content
	.box-au
		p
			span.number-phone Đã thay đổi thành công
		p
			| Chúng tôi đã cập nhật mật khẩu mới cho phiên đăng nhập hiện tại trên thiết bị của bạn. Nên bạn không cần đăng xuất.